dmb-button-action {
    &.icon {
        width: auto;

        &:before {
            align-items: center;
            font-size: 1.2em;
        }
    }

    &.main-add {
        align-items: center;
        font-size: 1.2em;

        &::before {
            font-size: 1.2em;
            margin: 0 0.5em;
        }
    }
}