dmb-document-uploader {
    display: block;

    .preview {
        display: flex;
        align-items: center;
        gap: 0.75em;
        margin-top: 0.5em;

        img {
            max-width: 6em;
            max-height: 6em;
            border: 1px solid var(--border-default);
            border-radius: 0.5em;

            &[hidden] {
                display: none;
            }
        }

        .filename {
            font-size: var(--font-size-sm);
            color: var(--default);
        }
    }
}
