.buildpath
.project
.sass-cache/
.settings/
.tern-project
*.log
all-concat.js
app/webroot/all.min.js
app/webroot/uploads
dumbophp/
dumbophp
dumbophp.php
migrations/dumps/
npm-debug.log.*
node_modules
node_modules/
package-lock.json
specRunner.html
.env
app/webroot/js/specs.min.js
app/webroot/test.html
coverage.xml
test-result.xml
