
*[icon] {

    &::before {
        content: attr(icon);
        font-family: 'Material Symbols Regular';
        font-weight: normal;
        font-style: normal;
        font-size: 2em;  /* Preferred icon size */
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
    }
}
