$grid-columns: 12;
$grid-margin-horizontal: 1.6%;

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0;
  margin: 0;
  width: 100%;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% $grid-margin-horizontal;

  &:first-child {
    margin-left: 0;
  }
}

/*  GROUPING  */
.group {
  zoom: 1; /* For IE 6/7 */

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear:both;
  }
}

/** the columns */
$width-col: (100 + $grid-margin-horizontal) / $grid-columns;
@for $i from 1 through $grid-columns {
    .col#{$i} {
        width: 100% - (($grid-columns - $i) * $width-col);
    }
}

@include breakpoint(medium) {
    @for $i from 1 through $grid-columns {
        .col#{$i} {
            margin: 1% 0 1% 0;
            width: 100%;
        }

        .col#{$i}-md {
            margin: 1% 0 1% $grid-margin-horizontal;
            width: 100% - (($grid-columns - $i) * $width-col);

            &:first-child {
                margin-left: 0;
            }
        }
    }
}

@include breakpoint(small) {
    @for $i from 1 through $grid-columns {
        .col#{$i},
        .col#{$i}-md {
            margin: 1% 0 1% 0;
            width: 100%;
        }

        .col#{$i}-sm {
            margin: 1% 0 1% $grid-margin-horizontal;
            width: 100% - (($grid-columns - $i) * $width-col);

            &:first-child {
                margin-left: 0;
            }
        }
    }
}
