dmb-help-icon {
    cursor: pointer;
    position: relative;

    .content {
        display: none;
        position: absolute;
        background: var(--primary-contrast);
        border-radius: 5px;
        border: 1px solid var(--primary-contrast);
        box-shadow: 2px 2px 6px 0px var(--primary-hover);
        max-width: 250px;
        padding: 15px;
        z-index: 10;
    }

    &:hover {
        .content {
            display: inline;
        }
    }
}
